@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --black-color: #0a0a0a;
  --blue-color: #087ec4;
  --white-color: #ffffff;
  --gray-color-a: #dce0e6;
  --gray-color-b: #a1a1a1;
  --yellow: #a37300;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

h2 {
  margin-bottom: 1em;
}

.container {
  width: 53%;
  display: flex;
  padding: 5% 0;
  flex-direction: column;
  margin: auto;
}
nav {
  animation: reveal 4s;
  ul {
    background-color: #131212;
    z-index: 600;
    top: 1em;
    padding: 0.5em;
    border: 1px solid var(--gray-color-b);
    border-radius: 15px;
    position: fixed;
    display: flex;
    gap: 1.5em;
    list-style: none;

    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    li {
      a {
        text-decoration: none;
        color: var(--white-color);
        transition: 0.3s;
        font-size: 0.8em;
        &:hover {
          color: var(--gray-color-b);
        }
      }
    }
  }
}
#home {
  animation: reveal 2s;
  .header {
    .container-img {
      display: flex;
      align-items: center;
      gap: 2em;
      .profile {
        box-shadow: 38px -19px 54px 0px #333,
          0px 10px 15px -3px rgba(0, 0, 0, 0.1),
          0px 10px 15px -3px rgba(0, 0, 0, 0.1),
          0px 10px 15px -3px rgba(0, 0, 0, 0.1),
          0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        width: 7em;
        border: 2px solid var(--white-color);
        border-radius: 50%;
        margin-top: 4em;
        transition: 0.3s;
        &:hover .open-to-work {
          display: block;
        }
      }
      .open-to-work {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
      }
    }

    h1 {
      font-size: 3em;
      span {
        color: var(--blue-color);
      }
    }
    p {
      color: var(--gray-color-b);
      margin-bottom: 0.5em;
    }
    .download-cv {
      display: inline-flex;
      gap: 0.5em;
      font-weight: 500;
      padding: 0.5em;
      background: var(--yellow);
      border-radius: 10px;
      text-decoration: none;
      color: var(--white-color);
      align-items: center;
      transition: 0.3s;
      &:hover {
        background-color: #7c5700;
      }
    }
  }
}

#about-me {
  animation: reveal 2s;
  p {
    margin-bottom: 1em;
    width: 100%;
  }
  .buttons {
    display: flex;
    gap: 1em;
    .button-linkedin {
      padding: 0.5em 2em;
      background-color: var(--blue-color);
      text-decoration: none;
      color: var(--white-color);
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        background-color: #055a8b;
      }
    }
    .button-github {
      padding: 0.5em 2em;
      background-color: var(--white-color);
      text-decoration: none;
      color: var(--black-color);
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        background-color: #c0c0c0;
      }
    }
  }
}

#experience {
  .content-experience {
    display: flex;
    gap: 2em;
    .line {
      width: 20px;
      height: 72vh;
      background-color: var(--blue-color);
      margin-top: 10px;
    }
    .container-experience-txt {
      .experience {
        .header-experience {
          display: flex;
          align-items: center;
          gap: 1em;
          margin-bottom: 1em;
          .circle {
            width: 20px;
            height: 20px;
            background-color: var(--gray-color-a);
            border-radius: 50%;
            margin-left: -9%;
          }
          span {
            color: var(--gray-color-b);
          }
        }
        p {
          margin-bottom: 1.5em;
        }
      }
    }
    .profile2 {
      height: 30em;
      width: 15em;
      object-fit: cover;
      border-radius: 36%;

      box-shadow: 38px -19px 54px 0px #333,
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
  }
}

#projects {
  .container-project {
    height: 14em;
    border: 0.2px solid #333;
    position: relative;
    display: flex;
    margin-bottom: 2em;
    border-radius: 15px;
    transition: 0.3s;
    .image-project {
      width: 20em;
      object-fit: cover;
      border-radius: 15px;
    }
    .container-project-txt {
      padding: 1em;
      a {
        color: var(--white-color);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
        img {
          transition: 0.3s;
        }
        &:hover {
          text-decoration: underline;
          cursor: pointer;
          img {
            margin-left: 5px;
            margin-top: -3px;
          }
        }
      }
      p {
        text-wrap: wrap;
        color: var(--gray-color-b);
      }
      .container-tech {
        position: absolute;
        bottom: 1em;
        width: 19em;
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 0.5em;
        .tech {
          border: 1px solid var(--white-color);
          border-radius: 5px;
          padding: 5px;
          font-size: 0.7em;
        }
      }
      .container-project-txt-buttons {
        position: absolute;
        right: 1em;
        bottom: 1em;
      }
    }
  }
}

#skills {
  .container-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    .skill {
      display: flex;
      padding: 0.5em 1.5em;
      gap: 5px;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        scale: 0.9;
      }
    }
    .h {
      background-color: #ef652a;
    }
    .s {
      background-color: #087ec4;
    }
    .j {
      background-color: #998502;
    }
    .t {
      background-color: #1b4d6f;
    }
    .b {
      background-color: #7b40c7;
    }
    .p {
      background-color: #7b40c7;
    }
    .m {
      background-color: #1b4d6f;
    }
    .g {
      background-color: #f24e1e;
    }
    .gh {
      background-color: #323330;
    }
  }
}

#certificates {
  .container-certificados {
    display: flex;
    gap: 1em;
  }
}

@media (max-width: 768px) {
  .container {
    width: 93%;
    padding: 5%;
    margin-top: 4%;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 480px) {
  .container {
    padding: 5%;
    margin: 0;
  }
  nav {
    ul {
      gap: 0.5em;
      top: 8%;
      width: 76%;
      li {
        .nav-skill {
          display: none;
        }
        .nav-certificate {
          display: none;
        }
      }
    }
  }
  #home {
    .header {
      h1 {
        font-size: 1.9em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }
  #experience {
    .content-experience {
      .line {
        display: none;
      }
      .container-experience-txt {
        .experience {
          .header-experience {
            gap: 1;
            flex-wrap: wrap;
            .cicle {
              display: none;
            }
          }
        }
      }
      .profile2 {
        display: none;
      }
    }
  }
  #projects {
    .container-project {
      width: 100%;
      height: 25em;
      .image-project {
        width: 100%;
      }
      flex-direction: column;
      .container-project-txt {
        .container-project-txt-buttons {
          bottom: 170px;
        }
        a {
          font-size: 1em;
        }
      }
    }
  }
  #skills {
    .container-skills {
      .skill {
        img {
          width: 20px;
          height: 20px;
        }
        p {
          font-size: 0.8em;
        }
      }
    }
  }
}
